@import url ('PLACE-FONT-HERE');


body {
  font-family: 'Neutra Text Alt', sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../img/coverimage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: 100% !important;
  background-position: center top !important;
  padding: 1rem;
  padding-top: 0%;
  color: rgb(85, 85, 85);
}

p.indent{
  text-indent: 30px;
}

#coverPage h1 {
  font-family: 'Neutra Text Alt', sans-serif;
  font-size: 80px;
  text-shadow: 0 0 20px rgba(246, 246, 246, 0.5);
  line-height: 0.5;
  top: 3px;
  font-weight: 100;
  text-align: center;

}

#coverPage h2 {
    font-size: 30px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    line-height: 6.5;
    top: 10px;
    font-weight: 100;
    text-align: center;
}

#coverPage h3 {
  text-align: center;
  text-transform: uppercase;
  position: center;
  margin-top: 00px;
  margin-left: 0px;
  margin-bottom: 0;
  font-size: 2rem;
}

#coverPage h4 {
  text-align: center;
  margin-bottom: 0;
}

#coverPage h5 {
  /* font-size: 30px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  line-height: 6.5;
  position: absolute;
  margin-top: 200px;
  margin-left: 500px;
  top: 10px;
  font-weight: 100; */
}

#coverPage span {
  display: block;
  margin: 0;
  text-align: center;
  font-size: 4rem;
}

#coverPage h6 {
  font-size: 1.3rem;
  text-align: left;
  margin-left: 10rem;
  margin-right: 10rem;
  color: rgb(40, 102, 98);


}

#coverPage p {
  font-size: 1.3rem;
  text-align: justify;
  line-height: 1.6;
  margin-left: 10rem;
  margin-right: 10rem;
  color: #000;
}

#coverTagline {
  height: 1000px;
  position:center;
  text-align: center;
  text-align: justify;
}

#coverTagline h2 {
  font-size: 30px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  line-height: 3;
  text-align: center;
  top: 10px;
  font-weight: 100;
}

#coverTagline h5 {
  font-size: 30px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  line-height: 3;
  text-align: center;
  /* margin-top: 1300px;  */
  font-weight: 100;
}

#introDescr p {
  text-align: justify;
  color: red;
}

#coverPage a {
  color: rgb(39, 38, 38);
  text-align: justify;
}

body {
  background-color: #EAE5DD;
  margin-left: 0%;
  margin-right: 0%;
  font-family: sans-serif;
}

.sectionPadding {
  height: 150px;
}

#metricDescriptionTitle h2 {
  color: rgb(65, 65, 65);
}

hr {
  position: relative;
  top: 50 px;
  border: none;
  height: 6px;
  background: rgb(197, 138, 9);
  margin-bottom: 50px;
}

#metricContainer {
  background-image: url("../img/LivabilityMetric.png");
  background-size: 45%;
  background-position: left;
  background-repeat: no-repeat;
  min-height: 0px;
  margin-left: 10px;
}

#metricDescription {
  display: flex;
  justify-content: right;
  min-height: 300px;
  place-items: center;
  line-height: 1.4;
}

#metricDescription p {
  font-size: 14px;
}

.card {
  color: #ffffff;
  background-image: url("../img/coverimage.jpg");
  background-size: cover;
  padding: 10rem 0 0;
  width: 28ch;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 10px;

  transition: transform 500ms ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  --padding: 1.3rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.3) 10%,
    hsl(0 0% 0% / 1)
  );
  transform: translateY(55%);
  transition: transform 500ms ease;
}

.card-content > *:not(.card-title) {
  opacity: 0;
  transition: opacity 500ms linear;
}

.card:hover .card-content {
  transform: translateY(0);
}

.card:hover .card-content > * {
  opacity: 1;
}

.card-title {
  position: relative;
  width: max-content;
}

.card-body {
  color: rgb(255, 255, 255 / 0.85);
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: #FFFFFF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.card:hover .card-title::after {
  transform: scaleX(1);
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
  border: none;
  font-size: 14px;

}

/*
.button:hover,
.button:focus {
  background-color: #f0855a;
}
*/

#buttoncentral:hover,
.button:focus {
  background-color: #F7EDAE;
}

#buttonfringe:hover,
.button:focus {
  background-color: #ADC3EA;
}

#buttonaffluent:hover,
.button:focus {
  background-color: #CDA2EE;
}

#buttonsuburbia:hover,
.button:focus {
  background-color: #F0BAE6;
}

#buttonlagging:hover,
.button:focus {
  background-color: #B8EBB1;
}

#buttonouter:hover,
.button:focus {
  background-color: #C7F2EE;
}


#modalContainer {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
/*  pointer-events: none;*/
  display: none;
}

/* .modal_container.show {
  pointer-events: auto;
  opacity: 1;
} */

.modal {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 100%;
  text-align: justify;
}

.modal h2 {
  margin: 0;
  color: #000;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
  color: #000
}

/* HOUSING METRIC SPECIFIC STYLE */

.cardHse {
  color: #fff;
  background-image: url("../img/housing.jpeg");
  background-size: cover;
  padding: 10rem 0 0;
  width: 28ch;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 10px;

  transition: transform 500ms ease;
}

.cardHse:hover {
  transform: scale(1.05);
}

.card-contentHse {
  --padding: 1.3rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(19 20% 41% / 0),
    hsl(19 20% 41% / 0.3) 10%,
    hsl(19 20% 41% / 1)
  );
  transform: translateY(55%);
  transition: transform 500ms ease;
}

.card-contentHse > *:not(.card-titleHse) {
  opacity: 0;
  transition: opacity 500ms linear;
}

.cardHse:hover .card-contentHse {
  transform: translateY(0);
}

.cardHse:hover .card-contentHse > * {
  opacity: 1;
}

.card-titleHse {
  position: relative;
  width: max-content;
}

.card-bodyHse {
  color: rgb(255, 255, 255 / 0.85);
}

.card-titleHse::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: #FFFFFF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.cardHse:hover .card-titleHse::after {
  transform: scaleX(1);
}

.buttonHse {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #7d6154;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
  border: none;
  font-size: 14px;

}

.buttonHse:hover,
.buttonHse:focus {
  background-color: #f0855a;
}

#modalContainerHse {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}

.modalHse {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 100%;
  text-align: justify;
}

.modalHse h2 {
  margin: 0;
  color: #7d6154;
}

.modalHse p {
  opacity: 0.7;
  font-size: 14px;
  color: #000
}


/* ENVIRONMENT METRIC SPECIFIC STYLE */

.cardEvt {
  color: #fff;
  background-image: url("../img/environment.jpeg");
  background-size: cover;
  padding: 10rem 0 0;
  width: 28ch;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 10px;

  transition: transform 500ms ease;
}

.cardEvt:hover {
  transform: scale(1.05);
}

.card-contentEvt {
  --padding: 1.3rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(112 24% 38% / 0),
    hsl(112 24% 38% / 0.3) 10%,
    hsl(112 24% 38% / 1)
  );
  transform: translateY(55%);
  transition: transform 500ms ease;
}

.card-contentEvt > *:not(.card-titleEvt) {
  opacity: 0;
  transition: opacity 500ms linear;
}

.cardEvt:hover .card-contentEvt {
  transform: translateY(0);
}

.cardEvt:hover .card-contentEvt > * {
  opacity: 1;
}

.card-titleEvt {
  position: relative;
  width: max-content;
}

.card-bodyEvt {
  color: rgb(255, 255, 255 / 0.85);
}

.card-titleEvt::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: #FFFFFF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.cardEvt:hover .card-titleEvt::after {
  transform: scaleX(1);
}

.buttonEvt {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #50784a;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
  border: none;
  font-size: 14px;

}

.buttonEvt:hover,
.buttonEvt:focus {
  background-color: #f0855a;
}

#modalContainerEvt {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}

.modalEvt {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 100%;
  text-align: justify;
}

.modalEvt h2 {
  margin: 0;
  color: #50784a;
}

.modalEvt p {
  opacity: 0.7;
  font-size: 14px;
  color: #000
}


/* NEIGHBOURHOOD METRIC SPECIFIC STYLE */

.cardNbd {
  color: #fff;
  background-image: url("../img/neighbourhood.jpeg");
  background-size: cover;
  padding: 10rem 0 0;
  width: 28ch;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 10px;

  transition: transform 500ms ease;
}

.cardNbd:hover {
  transform: scale(1.05);
}

.card-contentNbd {
  --padding: 1.3rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(40 66% 62% / 0),
    hsl(40 66% 62% / 0.3) 10%,
    hsl(40 66% 62% / 1)
  );
  transform: translateY(55%);
  transition: transform 500ms ease;
}

.card-contentNbd > *:not(.card-titleNbd) {
  opacity: 0;
  transition: opacity 500ms linear;
}

.cardNbd:hover .card-contentNbd {
  transform: translateY(0);
}

.cardNbd:hover .card-contentNbd > * {
  opacity: 1;
}

.card-titleNbd {
  position: relative;
  width: max-content;
}

.card-bodyNbd {
  color: rgb(255, 255, 255 / 0.85);
}

.card-titleNbd::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: #FFFFFF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.cardNbd:hover .card-titleNbd::after {
  transform: scaleX(1);
}

.buttonNbd {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #deb560;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
  border: none;
  font-size: 14px;

}

.buttonNbd:hover,
.buttonNbd:focus {
  background-color: #f0855a;
}

#modalContainerNbd {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}

.modalNbd {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 100%;
  text-align: justify;
}

.modalNbd h2 {
  margin: 0;
  color: #deb560;
}

.modalNbd p {
  opacity: 0.7;
  font-size: 14px;
  color: #000
}

/* SAFETY METRIC SPECIFIC STYLE */

.cardSfe {
  color: #fff;
  background-image: url("../img/safety.jpg");
  background-size: cover;
  padding: 10rem 0 0;
  width: 28ch;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 10px;

  transition: transform 500ms ease;
}

.cardSfe:hover {
  transform: scale(1.05);
}

.card-contentSfe {
  --padding: 1.3rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(11 75% 58% / 0),
    hsl(11 75% 58% / 0.3) 10%,
    hsl(11 75% 58% / 1)
  );
  transform: translateY(55%);
  transition: transform 500ms ease;
}

.card-contentSfe > *:not(.card-titleSfe) {
  opacity: 0;
  transition: opacity 500ms linear;
}

.cardSfe:hover .card-contentSfe {
  transform: translateY(0);
}

.cardSfe:hover .card-contentSfe > * {
  opacity: 1;
}

.card-titleSfe {
  position: relative;
  width: max-content;
}

.card-bodySfe {
  color: rgb(255, 255, 255 / 0.85);
}

.card-titleSfe::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: #FFFFFF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.cardSfe:hover .card-titleSfe::after {
  transform: scaleX(1);
}

.buttonSfe {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #e56345;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
  border: none;
  font-size: 14px;

}

.buttonSfe:hover,
.buttonSfe:focus {
  background-color: #f0855a;
}

#modalContainerSfe {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}

.modalSfe {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 100%;
  text-align: justify;
}

.modalSfe h2 {
  margin: 0;
  color: #e56345;
}

.modalSfe p {
  opacity: 0.7;
  font-size: 14px;
  color: #000
}


/* EDUCATION METRIC SPECIFIC STYLE */

.cardEdu {
  color: #fff;
  background-image: url("../img/education.jpeg");
  background-size: cover;
  padding: 10rem 0 0;
  width: 28ch;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 10px;

  transition: transform 500ms ease;
}

.cardEdu:hover {
  transform: scale(1.05);
}

.card-contentEdu {
  --padding: 1.3rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(243 31% 57% / 0),
    hsl(243 31% 57% / 0.3) 10%,
    hsl(243 31% 57% / 1)
  );
  transform: translateY(55%);
  transition: transform 500ms ease;
}

.card-contentEdu > *:not(.card-titleEdu) {
  opacity: 0;
  transition: opacity 500ms linear;
}

.cardEdu:hover .card-contentEdu {
  transform: translateY(0);
}

.cardEdu:hover .card-contentEdu > * {
  opacity: 1;
}

.card-titleEdu {
  position: relative;
  width: max-content;
}

.card-bodyEdu {
  color: rgb(255, 255, 255 / 0.85);
}

.card-titleEdu::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: #FFFFFF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.cardEdu:hover .card-titleEdu::after {
  transform: scaleX(1);
}

.buttonEdu {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #7471b4;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
  border: none;
  font-size: 14px;

}

.buttonEdu:hover,
.buttonEdu:focus {
  background-color: #f0855a;
}

#modalContainerEdu {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}

.modalEdu {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 100%;
  text-align: justify;
}

.modalEdu h2 {
  margin: 0;
  color: #7471b4;
}

.modalEdu p {
  opacity: 0.7;
  font-size: 14px;
  color: #000
}


/* TRANSPORTATION METRIC SPECIFIC STYLE */

.cardTpt {
  color: #fff;
  background-image: url("../img/transport.jpeg");
  background-size: cover;
  padding: 10rem 0 0;
  width: 28ch;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 10px;

  transition: transform 500ms ease;
}

.cardTpt:hover {
  transform: scale(1.05);
}

.card-contentTpt {
  --padding: 1.3rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(331 48% 61% / 0),
    hsl(331 48% 61% / 0.3) 10%,
    hsl(331 48% 61% / 1)
  );
  transform: translateY(55%);
  transition: transform 500ms ease;
}

.card-contentTpt > *:not(.card-titleTpt) {
  opacity: 0;
  transition: opacity 500ms linear;
}

.cardTpt:hover .card-contentTpt {
  transform: translateY(0);
}

.cardTpt:hover .card-contentTpt > * {
  opacity: 1;
}

.card-titleTpt {
  position: relative;
  width: max-content;
}

.card-bodyTpt {
  color: rgb(255, 255, 255 / 0.85);
}

.card-titleTpt::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: #FFFFFF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.cardTpt:hover .card-titleTpt::after {
  transform: scaleX(1);
}

.buttonTpt {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #cc6c9a;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
  border: none;
  font-size: 14px;

}

.buttonTpt:hover,
.buttonTpt:focus {
  background-color: #f0855a;
}

#modalContainerTpt {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}

.modalTpt {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 100%;
  text-align: justify;
}

.modalTpt h2 {
  margin: 0;
  color: #cc6c9a;
}

.modalTpt p {
  opacity: 0.7;
  font-size: 14px;
  color: #000
}






#profilesTitle h2 {
  color: #000;
}

.profile_hse {
  position:relative;
  width: 119px;
  height: 36px;
  border-radius: 12%;
  margin: 0 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 0 0 2px, 0 0 0 3px;
  transition: 0.2s;
  transform: translateX(477%) translateY(170%);
  box-sizing: border-box;
}

.profile_hse:hover {
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
}

.content_hse {
  position: absolute;
  bottom: 75px;
  padding: 20px;
  min-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
}

.content_hse .header_hse {
  display: flex;
  align-items: center;
}

.content_hse .header_hse .infos_hse {
  margin-left: 1em;
}

.content_hse .header_hse .infos_hse .title_hse {
  font-size: 0.9em;
  color: 969696;
  font-weight: 500;
}

.content_hse .body_hse {
  padding: 1em;
}

.content_hse .body_hse p {
  font-size: 0.95em;
  color: #272727;
}

.profile_hse:hover .content_hse {
  visibility: visible;
  opacity: 1;
  transform: translateX(54%) translateY(95%);
}

/* STYLE FOR SAFETY METRIC */
#container_metric_sfe {
  position: absolute; top: 10; left: 0; z-index: 1;
  margin-top: 300px;
  width: 10%;
  height: 110px;
  float: right;
/*  background-color: #f542c5;
  opacity: 10%; */
}

.profile_sfe {
  position:relative;
  width: 99px;
  height: 36px;
  border-radius: 12%;
  margin: 0 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 0 0 2px, 0 0 0 3px;
  transition: 0.2s;
  transform: translateX(-13%) translateY(81%);
}

.profile_sfe:hover {
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
}

.content_sfe {
  position: absolute;
  bottom: 75px;
  padding: 20px;
  min-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
}

.content_sfe .header_sfe {
  display: flex;
  align-items: center;
}

.content_sfe .header_sfe .infos_sfe {
  margin-left: 1em;
}

.content_sfe .header_sfe .infos_sfe .title_sfe {
  font-size: 0.9em;
  color: 969696;
  font-weight: 500;
}

.content_sfe .body_sfe {
  padding: 1em;
}

.content_sfe .body_sfe p {
  font-size: 0.95em;
  color: #272727;
}

.profile_sfe:hover .content_sfe {
  visibility: visible;
  opacity: 1;
  transform: translateX(185%) translateY(37%);
}

/* STYLE FOR EDUCATION METRIC */
#container_metric_edu {
  position: absolute; top: 10; left: 0; z-index: 1;
  margin-top: 350px;
  margin-left: 140PX;
  width: 15%;
  height: 110px;
  float: right;
/*  background-color: #f542c5;
  opacity: 0%; */
}

.profile_edu {
  position:relative;
  width: 144px;
  height: 36px;
  border-radius: 12%;
  margin: 0 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 0 0 2px, 0 0 0 3px;
  transition: 0.2s;
  transform: translateX(-8%) translateY(83%);
}

.profile_edu:hover {
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
}

.content_edu {
  position: absolute;
  bottom: 75px;
  padding: 20px;
  min-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
}

.content_edu .header_edu {
  display: flex;
  align-items: center;
}

.content_edu .header_edu .infos_edu {
  margin-left: 1em;
}

.content_edu .header_edu .infos_edu .title_edu {
  font-size: 0.9em;
  color: 969696;
  font-weight: 500;
}

.content_edu .body_edu {
  padding: 1em;
}

.content_edu .body_edu p {
  font-size: 0.95em;
  color: #272727;
}

.profile_edu:hover .content_edu {
  visibility: visible;
  opacity: 1;
  transform: translateX(185%) translateY(37%);
}

/* STYLE FOR ENVIRONMENT METRIC */
#container_metric_evt {
  position: absolute; top: 10; left: 0; z-index: 1;
  margin-top: 450px;
  margin-left: 600PX;
  width: 20%;
  height: 90px;
  float: right;
/*  background-color: #f542c5;
  opacity: 0%; */
}

.prof_description_evt {
  position:relative;
  width: 183px;
  height: 36px;
  border-radius: 12%;
  margin: 0 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 0 0 2px, 0 0 0 3px;
  transition: 0.2s;
  transform: translateX(2%) translateY(122%);
}

.profile_evt:hover {
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
}

.content_evt {
  position: absolute;
  bottom: 75px;
  padding: 20px;
  min-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
}

.content_evt .header_evt {
  display: flex;
  align-items: center;
}

.content_evt .header_evt .infos_evt {
  margin-left: 1em;
}

.content_evt .header_evt .infos_evt .title_evt {
  font-size: 0.9em;
  color: 969696;
  font-weight: 500;
}

.content_evt .body_evt {
  padding: 1em;
}

.content_evt .body_evt p {
  font-size: 0.95em;
  color: #272727;
}

.profile_evt:hover .content_evt {
  visibility: visible;
  opacity: 1;
  transform: translateX(185%) translateY(37%);
}

/* STYLE FOR TRANSPORTATION METRIC */
#container_metric_tpt {
  position: absolute; top: 10; left: 0; z-index: 1;
  margin-top: 580px;
  margin-left: 90PX;
  width: 20%;
  height: 90px;
  float: right;
/*  background-color: #f542c5;
  opacity: 0%; */
}

.profile_tpt {
  position:relative;
  width: 215px;
  height: 36px;
  border-radius: 12%;
  margin: 0 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 0 0 2px, 0 0 0 3px;
  transition: 0.2s;
  transform: translateX(0%) translateY(100%);
}

.profile_tpt:hover {
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
}

.content_tpt {
  position: absolute;
  bottom: 75px;
  padding: 20px;
  min-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
}

.content_tpt .header_tpt {
  display: flex;
  align-items: center;
}

.content_tpt .header_tpt .infos_tpt {
  margin-left: 1em;
}

.content_tpt .header_tpt .infos_tpt .title_tpt {
  font-size: 0.9em;
  color: 969696;
  font-weight: 500;
}

.content_tpt .body_tpt {
  padding: 1em;
}

.content_tpt .body_tpt p {
  font-size: 0.95em;
  color: #272727;
}

.profile_tpt:hover .content_tpt {
  visibility: visible;
  opacity: 1;
  transform: translateX(185%) translateY(37%);
}

/* STYLE FOR NEIGHBOURHOOD METRIC */
#container_metric_nhd {
  position: absolute; top: 10; left: 0; z-index: 1;
  margin-top: 580px;
  margin-left: 480PX;
  width: 20%;
  height: 90px;
  float: right;
/*  background-color: #f542c5;
  opacity: 0%; */
}

.profile_nhd {
  position:relative;
  width: 215px;
  height: 36px;
  border-radius: 12%;
  margin: 0 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 0 0 2px, 0 0 0 3px;
  transition: 0.2s;
  transform: translateX(2%) translateY(43%);
}

.profile_nhd:hover {
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
}

.content_nhd {
  position: absolute;
  bottom: 75px;
  padding: 20px;
  min-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
}

.content_nhd .header_nhd {
  display: flex;
  align-items: center;
}

.content_nhd .header_nhd .infos_nhd {
  margin-left: 1em;
}

.content_nhd .header_nhd .infos_nhd .title_nhd {
  font-size: 0.9em;
  color: 969696;
  font-weight: 500;
}

.content_nhd .body_nhd {
  padding: 1em;
}

.content_nhd .body_nhd p {
  font-size: 0.95em;
  color: #272727;
}

.profile_nhd:hover .content_nhd {
  visibility: visible;
  opacity: 1;
  transform: translateX(185%) translateY(37%);
}

#metric_image {
  position: absolute;
  top: 0
}


.metricImg{
  float: right;
}

.metricContent



table {
  width: 100%;
}
td{
  vertical-align: baseline;
}

.prof_type{
  vertical-align: top;
  font-size: 12pt;
  font-weight: bold;
  }
.prof_container{
  width:100%;
  height:100%;
}
.prof_left{
  height:100%;
  width: 30%;
  float:left;
}
.prof_image{
  height: 90%;
  width: 90%;
  float:left;
}
.prof_right{
  width: 65%;
  float:right;
  float:top;
  margin-top: 0%;
  margin-right: 5%;
}
.prof_description{
  margin-top: 0%;
  font-size: 12pt;
  text-align: justify;
}
.prof_priorities{
  margin-top: 0%;
}
.prof_priorities_text{
  width: 33%;
  font-size: 10pt;
  float:left;
}
.prof_priorities_img{
width: 60%;
  float:right;
}
.prof_cell:hover{
  background-color: #FF7F50;
}
/*
#prof_first_time_renters:hover{
  background-color: #FF69B4;
}
*/

/* Ward Characteristics Map Styling */
#WardCharacteristicsMapContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 600px;
}

#WCmap {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 1;
}

#WardCharacteristicsText {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  padding-right: 25px;
  padding-top: 20px;
  text-align: justify;
}

#WardCharacteristicsMapContainer .map-overlay {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Cluster Map Edits */
.sectionPadding2 {
  height: 30px;
}

#Cluster1Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 450px;
  padding-left: 30px;
}

#C1map {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 13;
  z-index: 1;
}

.clusterTitle {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding-left: 30px;
  font-size: 14px;
  padding-top: 6px;
}

.ClusterText {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 7;
  padding-left: 20px;
  padding-right: 30px;
  text-align: justify;
}

.InterestedProfiles {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 9;
  padding-left: 20px;
  padding-right: 30px;
}

.spiderDiagramOverlayC1 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 13;
  z-index: 2;
  padding-left: 170px;
  padding-top: 70px;
}

.spiderDiagramOverlay {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 13;
  z-index: 2;
  padding-left: 170px;
  padding-top: 70px;
}

.ProfessionalCouples {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 13;
  padding-left: 27px;
}

.FirstTimeRenters {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 13;
  padding-left: 27px;
}

#Cluster2Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 450px;
  padding-left: 30px;
}

#C2map {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 13;
  z-index: 1;
}

.SingleIncomeOwners {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 13;
  padding-left: 27px;
}

#Cluster2Container .FirstTimeRenters {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 13;
  padding-left: 27px;
}

#Cluster3Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 450px;
  padding-left: 30px;
}

#C3map {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 13;
  z-index: 1;
}

#Cluster3Container .YoungFamilies {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 9;
  grid-row-end: 13;
  padding-left: 27px;
}

#Cluster3Container .OldFamilies {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 13;
  padding-left: 27px;
}

#Cluster3Container .Retirees {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 13;
  padding-left: 27px;
}

/* Map edits */
#mapContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 730px;
}

#map {
  height: 730px;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  z-index: 1;
}

#Cluster2Container .clusterTitle {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  padding-left: 12px;
  padding-top: 6px;
}

#Cluster3Container .clusterTitle {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  padding-left: 12px;
  padding-top: 10px;
}

#Cluster5Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 450px;
  padding-left: 30px;
}

#C5map {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 13;
  z-index: 1;
}

#spiderDiagramOverlayC5 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 13;
  z-index:2;
  padding-left: 170px;
  padding-top:70px;

}

#ProfessionalCouplesC5 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 13;
  padding-left: 27px;
}

#OldFamiliesC5 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 13;
  padding-left: 27px;
}

#Cluster5Container .clusterTitle {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  padding-left: 16px;
  padding-top: 10px;
}

#Cluster4Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 450px;
  padding-left: 30px;
}

#C4map {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 13;
  z-index: 1;
}

#Cluster4Container .YoungFamilies {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 13;
  padding-left: 27px;
}
#Cluster4Container .Retirees {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 13;
  padding-left: 27px;
}

#Cluster4Container .clusterTitle {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  padding-left: 40px;
  padding-top: 6px;
}

#Cluster6Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 450px;
  padding-left: 30px;
}

#C6map {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 13;
  z-index: 1;
}

#Cluster6Container .Retirees {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 13;
  padding-left: 27px;
}

#Cluster6Container .clusterTitle {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  padding-left: 15px;
  padding-top: 6px;
}


.map-overlay h3 {
  color: rgb(59, 59, 59);
}

.map-overlay p {
  color: rgb(113, 121, 120);
}

.map-overlay {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 9;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#map-overlay2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 12;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#map-overlay2 h3 {
  font-size: 16px;
}

#map-overlay2 p {
  font-size: 12px;
}
