@import url ('PLACE-FONT-HERE');

body {
  background-color: #EAE5DD;
  margin-left: 5%;
  margin-right: 5%;
  font-family: sans-serif;
}

#introduction_parent_container {
  position: relative;
}

#introduction_container {

}

#introduction_background {

}

#metric_container {
  position:relative;
}


/* STYLE FOR HOUSING METRIC */
#container_metric_hse {
  position: absolute; top: 10; left: 0; z-index: 1;
  width: 100%;
  height: 110px;
  float: right;
  background-color: #f542c5;
  opacity: 10%;
}

.profile_hse {
  position:relative;
  width: 119px;
  height: 36px;
  border-radius: 12%;
  margin: 0 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 0 0 2px, 0 0 0 3px;
  transition: 0.2s;
  transform: translateX(477%) translateY(170%);
  box-sizing: border-box;
}

.profile_hse:hover {
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
}

.content_hse {
  position: absolute;
  bottom: 75px;
  padding: 20px;
  min-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
}

.content_hse .header_hse {
  display: flex;
  align-items: center;
}

.content_hse .header_hse .infos_hse {
  margin-left: 1em;
}

.content_hse .header_hse .infos_hse .title_hse {
  font-size: 0.9em;
  color: 969696;
  font-weight: 500;
}

.content_hse .body_hse {
  padding: 1em;
}

.content_hse .body_hse p {
  font-size: 0.95em;
  color: #272727;
}

.profile_hse:hover .content_hse {
  visibility: visible;
  opacity: 1;
  transform: translateX(54%) translateY(95%);
}

/* STYLE FOR SAFETY METRIC */
#container_metric_sfe {
  position: absolute; top: 10; left: 0; z-index: 1;
  margin-top: 300px;
  width: 10%;
  height: 110px;
  float: right;
/*  background-color: #f542c5;
  opacity: 10%; */
}

.profile_sfe {
  position:relative;
  width: 99px;
  height: 36px;
  border-radius: 12%;
  margin: 0 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 0 0 2px, 0 0 0 3px;
  transition: 0.2s;
  transform: translateX(-13%) translateY(81%);
}

.profile_sfe:hover {
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
}

.content_sfe {
  position: absolute;
  bottom: 75px;
  padding: 20px;
  min-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
}

.content_sfe .header_sfe {
  display: flex;
  align-items: center;
}

.content_sfe .header_sfe .infos_sfe {
  margin-left: 1em;
}

.content_sfe .header_sfe .infos_sfe .title_sfe {
  font-size: 0.9em;
  color: 969696;
  font-weight: 500;
}

.content_sfe .body_sfe {
  padding: 1em;
}

.content_sfe .body_sfe p {
  font-size: 0.95em;
  color: #272727;
}

.profile_sfe:hover .content_sfe {
  visibility: visible;
  opacity: 1;
  transform: translateX(185%) translateY(37%);
}

/* STYLE FOR EDUCATION METRIC */
#container_metric_edu {
  position: absolute; top: 10; left: 0; z-index: 1;
  margin-top: 350px;
  margin-left: 140PX;
  width: 15%;
  height: 110px;
  float: right;
/*  background-color: #f542c5;
  opacity: 0%; */
}

.profile_edu {
  position:relative;
  width: 144px;
  height: 36px;
  border-radius: 12%;
  margin: 0 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 0 0 2px, 0 0 0 3px;
  transition: 0.2s;
  transform: translateX(-8%) translateY(83%);
}

.profile_edu:hover {
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
}

.content_edu {
  position: absolute;
  bottom: 75px;
  padding: 20px;
  min-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
}

.content_edu .header_edu {
  display: flex;
  align-items: center;
}

.content_edu .header_edu .infos_edu {
  margin-left: 1em;
}

.content_edu .header_edu .infos_edu .title_edu {
  font-size: 0.9em;
  color: 969696;
  font-weight: 500;
}

.content_edu .body_edu {
  padding: 1em;
}

.content_edu .body_edu p {
  font-size: 0.95em;
  color: #272727;
}

.profile_edu:hover .content_edu {
  visibility: visible;
  opacity: 1;
  transform: translateX(185%) translateY(37%);
}

/* STYLE FOR ENVIRONMENT METRIC */
#container_metric_evt {
  position: absolute; top: 10; left: 0; z-index: 1;
  margin-top: 450px;
  margin-left: 600PX;
  width: 20%;
  height: 90px;
  float: right;
/*  background-color: #f542c5;
  opacity: 0%; */
}

.profile_evt {
  position:relative;
  width: 183px;
  height: 36px;
  border-radius: 12%;
  margin: 0 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 0 0 2px, 0 0 0 3px;
  transition: 0.2s;
  transform: translateX(2%) translateY(122%);
}

.profile_evt:hover {
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
}

.content_evt {
  position: absolute;
  bottom: 75px;
  padding: 20px;
  min-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
}

.content_evt .header_evt {
  display: flex;
  align-items: center;
}

.content_evt .header_evt .infos_evt {
  margin-left: 1em;
}

.content_evt .header_evt .infos_evt .title_evt {
  font-size: 0.9em;
  color: 969696;
  font-weight: 500;
}

.content_evt .body_evt {
  padding: 1em;
}

.content_evt .body_evt p {
  font-size: 0.95em;
  color: #272727;
}

.profile_evt:hover .content_evt {
  visibility: visible;
  opacity: 1;
  transform: translateX(185%) translateY(37%);
}

/* STYLE FOR TRANSPORTATION METRIC */
#container_metric_tpt {
  position: absolute; top: 10; left: 0; z-index: 1;
  margin-top: 580px;
  margin-left: 90PX;
  width: 20%;
  height: 90px;
  float: right;
/*  background-color: #f542c5;
  opacity: 0%; */
}

.profile_tpt {
  position:relative;
  width: 215px;
  height: 36px;
  border-radius: 12%;
  margin: 0 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 0 0 2px, 0 0 0 3px;
  transition: 0.2s;
  transform: translateX(0%) translateY(100%);
}

.profile_tpt:hover {
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
}

.content_tpt {
  position: absolute;
  bottom: 75px;
  padding: 20px;
  min-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
}

.content_tpt .header_tpt {
  display: flex;
  align-items: center;
}

.content_tpt .header_tpt .infos_tpt {
  margin-left: 1em;
}

.content_tpt .header_tpt .infos_tpt .title_tpt {
  font-size: 0.9em;
  color: 969696;
  font-weight: 500;
}

.content_tpt .body_tpt {
  padding: 1em;
}

.content_tpt .body_tpt p {
  font-size: 0.95em;
  color: #272727;
}

.profile_tpt:hover .content_tpt {
  visibility: visible;
  opacity: 1;
  transform: translateX(185%) translateY(37%);
}

/* STYLE FOR NEIGHBOURHOOD METRIC */
#container_metric_nhd {
  position: absolute; top: 10; left: 0; z-index: 1;
  margin-top: 580px;
  margin-left: 480PX;
  width: 20%;
  height: 90px;
  float: right;
/*  background-color: #f542c5;
  opacity: 0%; */
}

.profile_nhd {
  position:relative;
  width: 215px;
  height: 36px;
  border-radius: 12%;
  margin: 0 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 0 0 2px, 0 0 0 3px;
  transition: 0.2s;
  transform: translateX(2%) translateY(43%);
}

.profile_nhd:hover {
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #d10fd8;
}

.content_nhd {
  position: absolute;
  bottom: 75px;
  padding: 20px;
  min-width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.5s;
}

.content_nhd .header_nhd {
  display: flex;
  align-items: center;
}

.content_nhd .header_nhd .infos_nhd {
  margin-left: 1em;
}

.content_nhd .header_nhd .infos_nhd .title_nhd {
  font-size: 0.9em;
  color: 969696;
  font-weight: 500;
}

.content_nhd .body_nhd {
  padding: 1em;
}

.content_nhd .body_nhd p {
  font-size: 0.95em;
  color: #272727;
}

.profile_nhd:hover .content_nhd {
  visibility: visible;
  opacity: 1;
  transform: translateX(185%) translateY(37%);
}

#metric_image {
  position: absolute;
  top: 0
}


.metricImg{
  float: right;
}

.metricContent



table {
  width: 100%;
}
td{
  vertical-align: baseline;
}
#profiles{
	color: black;
}
.prof_type{
  vertical-align: top;
  font-size: 15pt;
  font-weight: bold;
  }
.prof_container{
  width:100%;
  height:100%;
}
.prof_left{
  height:100%;
  width: 30%;
  float:left;
}
.prof_image{
  height: 90%;
  width: 90%;
  float:left;
}
.prof_right{
  width: 65%;
  float:right;
  float:top;
  margin-top: 0%;
  margin-right: 5%;
}
.prof_description{
  margin-top: 0%;
  font-size: 10pt;
  text-align: justify;
}
.prof_priorities{
  margin-top: 0%;
}
.prof_priorities_text{
  width: 33%;
  font-size: 10pt;
  float:left;
}
.prof_priorities_img{
width: 60%;
  float:right;
}

#prof_first_time_renters{

}
#prof_first_time_renters:hover{
  background-color: gray;
}
